<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Courses</title>
    </head>
    <body>
        <h1>CareerStrand</h1>
        <img src="images/CareerStrand_logo.png" alt="logo" height="150" width="200">
        <a href="#courses">Courses</a>
        <a href="#enrollment">Enrollment</a>
        <br><br>

        <section>
            <label>search:</label>
            <input type="text" id="search" name="search"> 
            <br><br>
            <h3>for you</h3>
            <img alt="vid" height="150" width="200">
            <p>Press play and unlock new knowledge</p>
            <h3>for you</h3>
            <img alt="vid" height="150" width="200">
            <p>Press play and unlock new knowledge</p>
            <h3>for you</h3>
            <img alt="vid" height="150" width="200">
            <p>Press play and unlock new knowledge</p>
        </section>
    </body>
</html>
