<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CarrerStrand</title>
    </head>
    <body>
        <h1>CareerStrand</h1>
        <img src="images/CareerStrand_logo.png" alt="logo" height="150" width="200">
        <a href="#courses">Courses</a>
        <a href="#enrollment">Enrollment</a>

        <section id="courses">
            <h2>Beginner courses</h2>
            <p>95% suitable for beginners</p>
            <p>here you can learn at your own pace, discover clear and simple basics and buit your skills step by step.</p>
            <input type="button" value="start">
            <h2>Intermediate courses</h2>
            <p>88% learning progress</p>
            <p>here you strengthen your knowledge and build on what you already know.</p>
            <button>start</button>
            <h2>Advanced courses</h2>
            <p>91% ready for advanced stages</p>
            <p>here you master complex concepts and reach a high level of expertise.</p>
            <button>start</button>
        </section>
    </body>
</html>